@charset "utf-8";

/* CSS Document */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap')
	;

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #425c77;
	/* background:#6497b1; */
	margin-top: 0px;
	background-repeat: repeat;
}

.fonthead {
	font-family: 'DM Serif Display', serif;
}

.main_head2 {
	color: #435c61;
	line-height: 1;
	font-size: 40px;
	padding-bottom: 30px;
}

.mt-85 {
	margin-top: 85px;
}

.pd70 {
	padding-top: 70px;
}

.pd5 {
	padding: 5px;
}

.icon_items {
	margin-top: -30px;
	padding-bottom: 70px;
}

.more {
	margin-top: 70px;
	font-size: 24px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
}

.navbar-inverse {
	/* background-color: #222; */
	border-color: transparent;
	background: transparent;
	margin-top: 20px;
	color: #fff;
}

.about-cont p {
	color: #212121;
	font-size: 16px;
}

.menu_topbar {
	background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%,
		rgba(80, 78, 90, 0.7) 100%, rgba(0, 212, 255, 0.9) 100%);
}

.main_heading {
	color: #fff;
	font-size: 290%;
	margin-top: 120px;
	line-height: 1;
}

.mdm-title {
	color: #554a58;
	font-size: 19px;
	font-weight: bold;
}

#tab1 p {
	padding: 20px 10px 20px 10px;
	color: #444444;
	font-size: 16px;
}

.msg_board {
	background: #f8eedf;
	margin-top: 37px;
}

.login_head {
	color: #fff;
	letter-spacing: 1px;
}

.mdm-title1 {
	color: #554a58;
	font-weight: 500;
}

.about_content {
	background: #e3f5f5;
	padding-top: 120px;
	padding-bottom: 70px;
}

.bg_top {
	background: #f4e7de;
	padding: 10px 10px 30px 10px;
}

.top_menubar {
	/* 	background-image: url(../images/slider.jpg);
 */
	background-image: linear-gradient(to left, rgba(67, 93, 97, 0.52),
		rgba(97, 126, 131, 0.73)), url('../images/slider.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 550px;
	background-attachment: fixed;
}

.aplogo {
	margin-top: 10px;
}

.title h4 {
	font-size: 20px;
	margin-top: 25px;
	margin-left: -20px;
	color: #ffffff;
}

.title h4 span {
	margin-top: 5px;
	font-size: 16px;
}

.navbar2 {
	margin-top: 20px;
}

.navbar2 li a {
	color: #fff;
	font-size: 16px;
}

.icon_block {
	background: #554a58;
	min-height: 148px;
}

.icon_block2 {
	background: #40babc;
}

.icon_block img {
	width: 60px;
	margin: 0px auto;
	display: block;
	padding-top: 22px;
}

.icon_block h3 {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: #fff;
}

.nav-tabs {
	border-bottom: 0px solid #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	background: #3e3c41;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #fff;
	cursor: default;
	border: 0px solid #ddd;
	border-bottom-color: transparent;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 0px solid transparent;
	border-radius: 0px 0px 0 0;
}

.border-0 {
	border-radius: 0px;
}

.form-control2 {
	border: 1px solid #fff;
}

.login_blk {
	width: 90%;
	margin-top: 110px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: rgba(55, 147, 149, 0.7);
}

.login_blk h3 {
	margin-bottom: 20px;
}

.forget {
	color: #0c9b40;
	font-weight: 600;
}

.icon_block img {
	width: 70px;
	margin: 0px auto;
	display: block;
	padding-top: 20px;
}

.icon_block h3 {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}

ul li {
	list-style: none;
}

#nav2 {
	padding: 0px;
}

#nav2 li a {
	line-height: 36px;
	font-weight: 500;
	color: #435c61;
	text-decoration: none;
	display: block;
	border-bottom: 0.5px solid #ddd;
	padding-left: 5px;
}

#nav2 li a:hover {
	text-decoration: none;
	color: #1587b3;
}

#nav2 li a:before {
	content: ">";
	color: #435c61;
	padding-right: 5px;
}

.footer {
	background: #425c60;
}

.footer_list {
	padding: 0px;
}

.footer_list li a {
	color: #fff;
	font-weight: 500;
	line-height: 24px;
	padding: 5px 0px;
	display: block;
	border-bottom: 0.5px solid #566d70;
}

.footer_list li a:hover {
	color: #ec971f;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
}

.more2 {
	visibility: hidden;
	margin-top: 70px;
	font-size: 24px;
}

.more {
	margin-top: 70px;
	font-size: 24px;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	480px) {
		
	.top_menubar {
	background-image: linear-gradient(to left, rgba(67, 93, 97, 0.52), rgba(97, 126, 131, 0.73)), url('../images/slider.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto!important;
	background-attachment: fixed;
}	
	.title h4 {
		font-size: 12px;
		margin-top: 25px;
		margin-left: -20px;
		color: #ffffff;
	}
	.title h4 span {
		margin-top: 5px;
		font-size: 11px;
	}
	.more2 {
		visibility: hidden;
		margin-top: -40px;
		font-size: 24px;
	}
	.login_blk {
		width: 100%;
		margin-top: 110px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 50px;
		background-color: rgba(55, 147, 149, 0.7);
	}
	.navbar-inverse {
		background-color: #222;
		border-color: transparent;
		background: transparent;
		margin-top: 0px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #101010;
		background: #40babc;
	}
	.navbar-header {
		background: #40babc;
	}
}
}